
@font-face {
    font-family: 'fira_sansbold';
    src: url('firasans-bold-webfont.woff2') format('woff2'),
         url('firasans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sanslight';
    src: url('firasans-light-webfont.woff2') format('woff2'),
         url('firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fira_sansregular';
    src: url('firasans-regular-webfont.woff2') format('woff2'),
         url('firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    font-family: 'fira_sansregular', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'fira_sansbold', sans-serif;
    font-weight: 500;
}
/* ----------------- all custom settings starts here --------------------*/

.cards1{
    background-image: url("https://images.pexels.com/photos/2414077/pexels-photo-2414077.jpeg?cs=srgb&dl=architecture-building-contemporary-2414077.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: black;
    padding:20px;
    padding-bottom: 20px;
}
.cards2{
    background-image: url("https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: black;
    padding:20px;    
    padding-bottom: 20px;
}
.cards3{
    background-image: url("https://images.pexels.com/photos/1746876/pexels-photo-1746876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: black;
    padding:20px;   
    padding-bottom: 20px;
}
.cards-content{
   color: black;
    background-color: white;    
    margin-top: 200px;
    padding: 10px;
    height: 250px;
    
}
#cropimg{
    overflow: hidden;
}

.card-text
{
    text-align: center;
}

.bg-black{
 color: white;
    background-color: black;
}
.bg-white{
    color: black;
    background-color: white;
}

#bottombox{
    padding: 20px 50px 20px 100px;
}
#sideimage{
    padding: 30px;
}
#myvideo{
    background-image: url("https://images.pexels.com/photos/911758/pexels-photo-911758.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 40%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
#myvideo div{
    padding-bottom: 5%;
    padding-top: 5%;

}
.carousel{
    padding-bottom: 5%;
}
.carousel-item img{
    height: auto;
    max-height: 80%;
}
#playbtn{
font-size: 20px;
        width: 15px;
    height: 15px;
}
#floatimage>img{
    position: absolute;
    overflow: visible;
    z-index: 10;
    margin-top: -25%;
    margin-left: 15%;
}
#submitbtn{
-webkit-appearance: none;
}
#emailtxt{
border: none;
    border-bottom: 4px solid black;

}
#emailtxt:focus{
    border: 2px solid black;

}
.navbar-header {position:relative;left: 35%;}

.carousel-control-prev, .carousel-control-next {
    align-items: flex-end;
}
.carousel-control-prev-icon{
    width: 60px;
    height: 15px;
}
.carousel-control-next-icon{
      width: 60px;
    height: 15px;
}
#jumbo{
    min-height: 600px;

}
#jumboh1{
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
#jumbo{
    max-height: 400px;
  
}
#social{
    position: absolute;
    top: 10%;
    right: 5%;
    background: white;
    padding: 15px 10px 0px 10px;
    
}
#social img{
    max-height: 50px;
    max-width: 50px;
}
#addid{
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding:10px 200px 0px 50px;
    
}
#addid h5{
    position: absolute;
    right: 40px;
}
#navigation{
    background-color: aqua;
    color: black;
    height: 50px;
}
.navbar-toggler{
    border: none;
}
#footer{
  padding-bottom: 5em;  
}

.social-part i{
    margin-left: 0.5em;
    font-size: 1.3em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    #floatimage{
        display: none;
    }
    .navbar-header {
position:relative;
        left: 0;
    }
   .cards1{
  margin-bottom: 20px;
}
.cards2{
    margin-bottom: 20px;
}
.cards3{
   margin-bottom: 20px;
} 
    #social{
    padding: 15px 4px 0px 4px;
    
}
    #social img{
    max-height: 30px;
    max-width: 30px;
}
    
}